@model List<AuthorListViewModel>

@if (@User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
{

    <h2>Yazar Listesi</h2>


    <a asp-action="Add" asp-controller="Author" class="btn btn-success mt-2 mb-2">Yeni Ekle</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Yazar Adı</th>
                <th>Yazar Soyadı</th>
                <th>Doğum Tarihi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yazar in Model)
            {
                <tr>
                    <td>@yazar.Id</td>
                    <td>@yazar.FirstName</td>
                    <td>@yazar.LastName</td>
                    <td>@yazar.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@yazar.Id" class="btn btn-warning">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@yazar.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}
@{
    else
    {
        <div class="alert alert-danger text-center">
            <h5 class="fw-bold">Kitaplar kısmını görebilmeniz için oturum açmanız gerekmektedir.</h5>
            <a class="btn btn-danger fw-bold" asp-controller="Auth" asp-action="SignIn">Oturum Aç</a>
        </div>
    }
}

